ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:papayawhip;
    
  }
  
  li {
    float: left;
    display: inline;
    
  }
  
  li a {
    /* display: block; */
    display: flex;
    color: yellowgreen;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
    
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
 .container{
     display: flex;
  }
  
  